<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Metadatos -->
        <meta charset="UTF-8">
        <meta name="robots" content="index,follow">
        <meta name="Author" content="Dani Oliva">
        <meta name="description" content="Catálogo de productos de sistemas de seguridad, control de acceso y antiincendios de Danny Sistemas">
        <meta name="keywords" content="web, curso HTML, crear web">
        <meta name="locality" content="malaga,andalucia,spain,europa">
        <meta name="category" content="Programación web">
        <!-- Enlace al archivo de estilos CSS
        Las rutas cambian al estar dentro de la carpeta views-->
        <link rel="stylesheet" href="../css/estilos.css">
        <!-- Título de la página-->
        <title>Danny Sistemas</title>
    </head>
    <body>
        <!-- Encabezado de la página -->
        <header>
            <!-- Contenedor del encabezado -->
            <div class="container">
                <!-- Contenido del encabezado -->
                <div class="header-content">
                    <a href="../index.html"><img src="../images/malaga.png" alt="logo" width="100"></a>
                    <nav class="nav-menu">
                        <a href="../index.html">Inicio</a>
                        <!-- Enlace a la página de productos con la clase active para indicar que es la página actual-->
                        <a class="active" href="productos.html">Productos</a>
                        <a href="presupuesto.html">Presupuesto</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
            </div>
        </header>
        <!-- Contenedor principal de la página -->
        <div class="container">
            <!-- Título del contenedor -->
            <h2>Productos</h2>
            <!--  Sección para mostrar todos los prodcutos-->
            <section class="gallery-grid">
                <!-- Cada elemento del grid se compone una imagen y un div con la información del d¡producto-->
                <div class="gallery-grid-item">
                    <img src="../images/producto1.jpg" alt="Producto 1">
                    <div class="gallery-grid-item-info">
                        <h3>TP-Link VIGI C540-W V1 Torreta Cámara de seguridad IP Interior y exterior 2560 x 1440 Pixeles Techo/pared</h3>
                        <p>Tipo: Cámara de seguridad IP, Colocación soportada: Interior y exterior, Tecnología de conectividad: Inalámbrico y alámbrico.</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto2.jpg" alt="Producto 2">
                    <div class="gallery-grid-item-info">
                        <h3>TP-Link VIGI C540 Torreta Cámara de seguridad IP Interior y exterior 2560 x 1440 Pixeles Techo/pared</h3>
                        <p>Tipo: Cámara de seguridad IP, Colocación soportada: Interior y exterior, Tecnología de conectividad: Alámbrico</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto3.jpg" alt="Producto 3">
                    <div class="gallery-grid-item-info">
                        <h3>EZVIZ HB8 Esférico Cámara de seguridad IP Exterior 2560 x 1440 Pixeles Techo/pared</h3>
                        <p>Cámara de seguridad IP Exterior</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto4.jpg" alt="Producto 4">
                    <div class="gallery-grid-item-info">
                        <h3>Detector de movimiento con cámara AJAX MOTIONCAM</h3>
                        <p>Ajax MotionCam es un sensor infrarrojo pasivo con registro fotográfico de eventos que funciona conectado al nuevo Ajax Hub 2</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto5.png" alt="Producto 5">
                    <div class="gallery-grid-item-info">
                        <h3>SIGA-PHD Edwards EST</h3>
                        <p>Detector Inteligente Multisensor de Humo y Calor.</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto6.png" alt="Producto 6">
                    <div class="gallery-grid-item-info">
                        <h3>Sirena De Alarma Bitonal SIR24B Cofem</h3>
                        <p>Sirena de interior y exterior para conectarse directamente a la salida de sirena de las centrales o módulos de relés</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto7.png" alt="Producto 7">
                    <div class="gallery-grid-item-info">
                        <h3>Central de incendios convencional 2 Zonas</h3>
                        <p>Central de incendios convencional de 2 zonas MIRA M402C, concebida para pequeñas y medianas instalaciones de alarma y detección.</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto8.png" alt="Producto 8">
                    <div class="gallery-grid-item-info">
                        <h3>Pulsador de alarma convencional rearmable PUCAR Cofem</h3>
                        <p>Pulsador de alarma rearmable para sistema de alarma de incendios convencional de la marca COFEM modelo PUCAR</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto9.png" alt="Producto 9">
                    <div class="gallery-grid-item-info">
                        <h3>801PHEX Tyco</h3>
                        <p>Detector de humo y calor</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto10.png" alt="Producto 10">
                    <div class="gallery-grid-item-info">
                        <h3>Detector de Monóxido de Carbono (CO) SCO SCO Cofem</h3>
                        <p>Sensor detector de difusión de monóxido de carbono (CO) con base de conexión, para sistema COsensor diseñado según la norma europea EN 50545-1 y certificado</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto11.png" alt="Producto 11">
                    <div class="gallery-grid-item-info">
                        <h3>Señal “Extintor”- Rr1 10 Unidades. RR1-10 Exfaex</h3>
                        <p>Señal "EXTINTOR" fotoluminiscente fabricada en PVC, según norma UNE23035-4</p>
                    </div>
                </div>
                <div class="gallery-grid-item">
                    <img src="../images/producto12.png" alt="Producto 12">
                    <div class="gallery-grid-item-info">
                        <h3>Detector de humos inteligente de Netatmo</h3>
                        <p>Detector de humos con célula fotoeléctrica (óptica) que mejora la seguridad de tu hogar</p>
                    </div>
                </div>
            </section>
        </div>
        <!-- Pie de página de la página -->
        <footer>
            <!-- Contenedor del pie de página -->
            <div class="container">
                <!-- Contenido del pie de página -->
                <div class="footer-content">
                    <!-- Usamos un div para cada item del contenido del pie de página con la misma clase-->
                    <div class="footer-content-item">
                        <!-- Aquí primero añadimos las redes sociales de la empresa usando un listado de enlaces -->
                        <h3>Redes sociales</h3>
                        <ul>
                            <!-- Enlaces en modo lista con imágenes de los logos
                             para que se muestren en horizontal.
                             Las redes sociales no las he creado, simplemente he puesto el nombre de la empresa
                             que he visto que la de instagram sí existe -->
                            <li><a href="https://www.x.com/dannysistemas"><img src="../images/xlogo.png" alt="X (Twitter)" width="24" height="24"> X</a></li>
                            <li><a href="https://www.instagram.com/dannysistemas"><img src="../images/instagramlogo.png" alt="Instagram" width="24" height="24"> Instagram</a></li>
                            <li><a href="https://www.linkedin.com/dannysistemas"><img src="../images/linkeidlogo.png" alt="LinkedIn" width="24" height="24"> LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="footer-content-item">
                        <!-- Aquí añadimos la información legal de la empresa usando un parrafo con enlaces a las diferentes políticas de la empresa-->
                        <h3>Información legal</h3>
                        <p>
                            <a href="#cookies" class="footer-content-item-link">Política de cookies</a>
                            <a href="#politica-de-privacidad" class="footer-content-item-link">Política de privacidad</a>
                            <a href="#terminos-y-condiciones" class="footer-content-item-link">Términos y condiciones</a>
                        </p>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>Derechos reservados &copy; 2025 Danny Sistemas</p>
                </div>
            </div>
        </footer>
    </body>
</html>